# Node
node_modules/
.env*

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Build
build/
dist/

# Misc
*.local
*.cache
*.log

# Test
coverage/

# Others
*.tgz
*.zip
*.bak
*.tmp
